PORT=3000

# URBANE BOLT API Credentials
URBANE_URL=https://uat.urbanebolt.in/api/v1
URBANE_BOLT_USERNAME=info@urbanebolt.com
URBANE_PASSWORD=EKIcygsLVV5RCtPZ

# MySQL Credentials
MYSQL_ROOT_PASSWORD=supersecretrootpass
MYSQL_DATABASE=courier_db
MYSQL_USER=courier_user
MYSQL_PASSWORD=courier_pass

# MongoDB Credentials
MONGO_USER=admin
MONGO_PASSWORD=supersecretmongopass
MONGO_DATABASE=courier_logs

# Redis Credentials
REDIS_HOST=redis_db_dev
REDIS_PORT=6379
REDIS_PASSWORD=supersecretredispass