PORT=3000

# COURIER API Credentials
COURER_BASE_URL=https://uat.urbanebolt.in/api/v1
CORIER_USERNAME=info@urbanebolt.com
COURIER_PASSWORD=EKIcygsLVV5RCtPZ

# MySQL Credentials
MYSQL_ROOT_PASSWORD=supersecretrootpass
MYSQL_DATABASE=courier_db
MYSQL_USER=courier_user
MYSQL_PASSWORD=courier_pass

# MongoDB Credentials
MONGO_USER=admin
MONGO_PASSWORD=supersecretmongopass
MONGO_DATABASE=courier_logs

# Redis Credentials
REDIS_HOST=redis_db_dev
REDIS_PORT=6379
REDIS_PASSWORD=supersecretredispass

REDIS_ACCESS_KEY_FOR_TOKEN=tokens:urbane_bolt
REDIS_ORDER_IDEMPOTENCY_KEY=order-shipment:processed