PORT=3000

# MySQL Credentials
MYSQL_ROOT_PASSWORD=<your_mysql_root_password>
MYSQL_DATABASE=<mysql_database_name>
MYSQL_USER=<mysql_user>
MYSQL_PASSWORD=<your_mysql_password>

# MongoDB Credentials
MONGO_USER=<admin_user>
MONGO_PASSWORD=<admin_password>
MONGO_DATABASE=<database_name>
